{
    "plugins": [
        "@babel/plugin-transform-flow-strip-types"
    ],
    "presets": [
        ["@babel/preset-env", {
            "loose": true,
            "targets": {
                "node": "current"
            }
        }]
    ],
    "sourceMaps": "inline"
}
